.DS_Store

# Generated model-training datasets that are too large for normal Git pushes
MLOpsedian/data/processed/train_regression_onehot_ready.csv
MLOpsedian/data/processed/test_regression_onehot_ready.csv
